.movieDetails {
  margin: -2rem;
  overflow: hidden;
  position: relative;
}

.movieDetails__main {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.movieDetails__details {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: translateY(-5%);
  align-items: center;
  display: flex;
  color: white;
  top: 0;
  padding: 2rem;
  font-family: "rubik";
  z-index: 10;
  justify-content: space-between;
}

.movieDetails__details h1 {
  font-size: 35px;
}

.movieDetails__details p {
  font-size: 16px;
  margin: 10px 0;
  width: 450px !important;
}

.movieDetails__about {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.movieDetails__info {
  display: flex;
  font-size: 14px;
  color: rgb(197, 197, 197);
}

.movieDetails__info span {
  color: #ff7716;
}

.movieDetails__genre {
  display: flex;
  align-items: center;
}
.movieDetails__genre ul {
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
}
.movieDetails__genre li {
  font-size: 14px;
  margin-right: 5px;
  color: rgb(197, 197, 197);
}

.movieDetails__time {
  display: flex;
}

.movieDetails__timeTime {
  display: flex;
}

.movieDetails span {
  margin-right: 5px;
}

.movieDetails__genre {
  margin-bottom: 10px;
}
.movieDetails__genre span {
  color: #ff7716;
  margin-right: 10px;
}

.movieDetails__love {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
}

.movieDetails__header {
  display: flex;
  justify-content: space-between;
}

.movieDetails__love span {
  color: #011627;
  font-size: 25px;
  margin-left: 5px;
}
.movieDetails__production > div {
  margin-top: 20px;
  font-size: 14px;
}

.movieDetails__company {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.movieDetails__company li h3 {
  font-size: 14px;
  margin-right: 10px;
  font-weight: 400;
  color: rgb(192, 192, 192);
}

.movieDetails__tagline {
  font-size: 20px;
  font-weight: 500;
  color: #ff7716;
}
.movieDetails__imagePoster {
  max-width: 200px;
  object-fit: contain !important;
}

.movieDetails__details button {
  width: 140px;
  height: 35px;
  font-family: "quicksand";
  margin-top: 10px;
  font-weight: bold;
  background: transparent;
  outline: none;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.3s;
}
.movieDetails__details button a {
  color: white;
}

.movieDetails__details button span {
  margin-left: 10px;
}

.movieDetails__details button:hover {
  border: 2px solid #011627;
  background: #011627;
  cursor: pointer;
}
.movieDetails__details button:hover a {
  color: #ff7716;
}

.movieDetails__season {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: -10px;
  margin-right: 15px;
  padding: 10rem 10px;
}

.movieDetails__season li {
  width: 100%;
}

.movieDetails__season::-webkit-scrollbar {
  display: none;
}
.movieDetails__seasonImg {
  max-height: 220px;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0.7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.movieDetails__seasonImg:hover {
  position: relative;
  transform: scale(1.11);
  border: 2px solid white;
  transition: 0.25s;
  box-sizing: border-box;
  opacity: 1;
  z-index: 100;
}
